<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <title>index page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
  <h2>お届け先住所の設定</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所1</th>
      <th>住所2</th>
      <th>住所3</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addressList}" th:object="${address}">
      <td th:text="*{postalCode}"></td>
      <td th:text="*{address1}"></td>
      <td th:text="*{address2}"></td>
      <td th:text="*{address3}"></td>
      <td><span th:if="*{defaultAddress == true}">既定</span></td>
      <td><a th:href="@{/accounts/addresses/edit/{uuid}(uuid=*{uuid})}">編集</a></td>
      <td><a th:href="@{/accounts/addresses/delete/{uuid}(uuid=*{uuid})}">削除</a></td>
    </tr>
    </tbody>
  </table>
  <a href="/accounts/addresses/add">新規登録</a>
  <a href="/accounts/">戻る</a>
</div>
</body>
</html>