<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tamazon</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <h1>tamazon.co.jp</h1>
  <ul>
    <li><a href="/login">ログイン</a></li>
  </ul>
</div>
</body>
</html>