<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>index page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2>商品の設定</h2>
    <a href="/admin/edit/add">追加</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>uuid</th>
            <th>商品名</th>
            <th>カテゴリーID</th>
            <th>説明</th>
            <th>価格</th>
            <th>在庫</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}" th:object="${item}">
            <td th:text="*{uuid}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{category}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{price}"></td>
            <td th:text="*{stock}"></td>
            <td><a href="#" id="edit-link">編集</a></td>
            <td><a href="#" id="delete-link">削除</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/admin/">戻る</a>
</div>
</body>
</html>
